/* --Universal Styles--*/

html {
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  font-size: 2rem;
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
}

.image-container {
  display: flex;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}


/*--Header--*/



header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  height: 4rem;
  background-color: white;
  width: 100%;
  margin: 0px auto;
}

.logo {
  display: flex;
  align-items: center;
  height: 2rem;
  padding-left: 1.5rem;
 }

.logo img {
  height: 100%;
  width: auto;
}

.logo span {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo span:last-child {
  font-size: 1.5rem;
  font-weight: bold;
  color: grey;
}

nav {
  display: flex;
  padding-right: 1.5rem;
}

nav span {
  padding-left: 1rem;
  font-size: 1.2rem;
  color: grey;
}

/*--Banner Section--*/

.banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
  background-color: grey;
}

.banner .image-container {
  display:flex;
  width: 60%;
  height: auto;
  overflow: hidden;
  align-items: center;
  margin: 2rem 1.5rem;
}

.banner .image-container img {
  margin-top: 2rem;
  padding-top: 2rem;
}

.CTA-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  height: auto;
  margin-left: 1.5rem;
}

.CTA-container h1 {
  line-height: 1.2;
  margin-bottom: 2rem;
}

.CTA-container h2 {
  line-height: 1.2;
  margin-bottom: 2rem;
}
