/* --Universal Styles--*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}



h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

.button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  font-size: 1.3rem;
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
}

.image-container {
  display: flex;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}


/*--Header--*/



header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  height: 4rem;
  background-color: white;
  width: 100%;
  margin: 0px auto;
}

.logo {
  display: flex;
  align-items: center;
  height: 2rem;
  padding-left: 1.5rem;
 }

.logo img {
  height: 100%;
  width: auto;
}

.logo span {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo span:last-child {
  font-size: 1.5rem;
  font-weight: bold;
  color: grey;
}

nav {
  display: flex;
  padding-right: 1.5rem;
}

nav span {
  padding-left: 1rem;
  font-size: 1.2rem;
  color: grey;
}

/*--Banner Section--*/

.banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
  background-color: grey;
}

.banner .image-container {
  display:flex;
  width: 60%;
  height: auto;
  overflow: hidden;
  align-items: center;
  padding: 2rem 1.5rem;
}

.banner .image-container img {
  margin-top: 2rem;
  padding-top: 2rem;
}

.CTA-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: auto;
  margin-left: 1.5rem;
}

.CTA-container h1 {
  line-height: 1.1;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.CTA-container h2 {
  line-height: 1.1;
  margin-bottom: 2rem;
  font-size: 1.75rem;
  font-weight: bold;
}

/*--Second Content Row--*/

#second-row {
  background-color: white;
  align-items: flex-start;
  padding: 2rem 0;
}

#second-row .image-container {
  margin: 0;
}

#second-row .image-container img {
  margin: 0;
  padding: 0;
}

.content-left-container {
  width: 60%;
}

#information-main-container {
  width: 100%;
  padding: 0 1.5rem;
}

#row-2-info {
  width: 85%;
  height: auto;
}

#row-2-info h1 {
  padding: 2rem 1.5rem 1.5rem 1.5rem;
}

#row-2-info p {
  padding: 0 1.5rem;
}

#emanuel {
  margin-top: 1rem;
}



.content-right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
}

.info-tidbit {
  display: flex;
  align-items: center;
  padding: 0;
  border: 1px solid gray;
  margin: 0px 0px 0px 0px;
}

.info-tidbit .image-container {
  display: flex;
  width: 35%;
  height: auto;
  overflow: hidden;
  margin: 0px;
  padding: 1rem;
}

#first-image {
  padding-top: 0;
}

.info-tidbit .image-container img {
  padding: 0px;
  margin: 0px;
}

.tidbit-copy {
  display: flex;
  width: 65%;
  flex-direction: column;
  justify-content: center;
}

.tidbit-copy p {
  padding: 0.5rem 0;
}

.read-more {
  color: blue;
}

#guest-lecture {
  background-color: gray;
}

/*--Course Grid Section--*/

#start-learning {
  display: flex;
  width: 100%;
  background-color: #f0f0f0;
  justify-content: center;
}

#start-learning h1 {
  text-align: center;
}

.grid-container {
  display: flex;
}




/*--Media Queries--*/

@media screen and (max-width: 840px) {
  .CTA-container h1 {
    font-size: 1.75rem;
  }
  .CTA-container h2 {
    font-size: 1.25rem;
  }
}
